<div class="container">
  <div class="row">
    <div class="col">
      <section>
        <header class="header">
          <div class="row">
            <div class="col-md-4">
              <h3>Students</h3>
            </div>

            <div class="col-md-6">
            </div>

            <div class="col-md-2">
                <a class="btn btn-primary" routerLink="/student/create" routerLinkActive="active">New Student</a>
            </div>
          </div>
 
        </header>
      </section>
 
      <section class="main">
 
        <table class="table">
          <thead>
          <tr>
            <th>#</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th></th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let student of students">
            <th scope="row">{{student.sid}}</th>
            <td>{{student.fname}}</td>
            <td>{{student.lname}}</td>
            <td>{{student.email}}</td>
            <td></td>
            <td>
                <button type="button" class="btn btn-success" (click)="editStudent(student)">Edit</button>&nbsp;
                <button type="button" class="btn btn-danger" (click)="deleteStudent(student)">Delete</button>
            </td>
          </tr>
          </tbody>
        </table>
      </section>
    </div>
  </div>
</div>